<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Manzanita</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
    
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="fa-solid fa-list"></i> Listar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nuevo"><i class="fa-solid fa-cart-plus"></i> Crear</a>
        </li>
    
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<hr>
<h5>© kalek chimbote-peru 202333333333</h5>



